.zip
*.pt
*.ckpt 
__pycache__/
data/
claude session.txt
*.pkl
*.parquet
*.npy
predictions.txt
kaggle_bundle_mind/*
kaggle_bundle_ebnerd/*
codabench_files/*
kaggle_bundle_ebnerd/*
kaggle_bundle_mind/*
.venv/